<div class="card">
    <p-table
   
      #dt2
      [value]="data"
      dataKey="idModele"
      [rows]="10"
      [showCurrentPageReport]="true"
      class="p-datatable-customers"
      [loading]="loading"
      [rowsPerPageOptions]="[10, 25, 50]"
      [paginator]="true"
      [globalFilterFields]="['nomModele', 'detailsModele']"
      [(selection)]="selectedItems"
      selectionMode="single"
      [contextMenu]="cm"
      (onRowSelect)="onSelectionChange()"
      (onRowUnselect)="onSelectionChange()"
      (onContextMenuSelect)="onSelectionChange()"
      [(contextMenuSelection)]="selectedItems"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Filter" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Nom modele</th>
          <th>description</th>
        </tr>
        <tr>
          <th>
            <p-columnFilter type="text" field="nomModele" icon="fas fa-filter">
              <span class="pi pi-filter-icon pi-filter ng-tns-c65-3"></span>
            </p-columnFilter>
          </th>
      
          <th>
            <p-columnFilter type="text" field="detailsModele"></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr [pContextMenuRow]="customer" [pSelectableRow]="customer">
          <td>
            {{ customer.nomModele }}
          </td>
         
          <td>
            <span class="image-text">{{ customer.detailsModele }}</span>
          </td>
          <!-- <td>
                  <span [class]="'customer-badge status-' + customer.status">{{customer.status}}</span>
              </td> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">No data found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-dialog [(visible)]="display">
    <ng-template pTemplate="header">
      voulez vous supprimez cette modele
    </ng-template>
    <div class="modal-body">
     
  
      <p>vous êtes sûr de supprimer cette mdoele?</p>
    </div>
    <ng-template pTemplate="footer">
      <div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          &nbsp;<span>annuler</span>
        </button>
        <button
          type="submit"
          class="btn btn-danger"
          (click)="deleteuser(selectedItems?.id)"
          routerLink="/listuser">
          &nbsp;<span>supprimer</span>
        </button>
      </div>
    </ng-template>
  </p-dialog>
  <p-contextMenu #cm [model]="rowOperations" appendTo="body"> </p-contextMenu>