.loginstyle{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-right: 122 px;
    background-color: #278ac6;
    height: 151% !important;
}
.navbar-brand{

    position: center;
    object-position: center;
    align-self: center;
    margin-top: auto;

}